html {
  scroll-behavior: smooth;
}

:root {
  --teal: #177e89ff;
  --midnight-green: #084c61ff;
  --poppy: #db3a34ff;
  --sunglow: #ffc857ff;
  --jet: #323031ff;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--jet);
  color: var(--sunglow);
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--poppy);
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--poppy);
}

button {
  background-color: var(--teal);
  color: var(--jet);
  border: 1px solid var(--sunglow);
  cursor: pointer;
}

button:hover {
  background-color: var(--midnight-green);
  color: var(--sunglow);
}

*,
*::before,
*::after {
  border-color: var(--sunglow);
}

a:hover,
a:focus {
  color: var(--poppy);
}

button,
input[type='button'],
input[type='submit'] {
  background-color: var(--midnight-green);
  color: var(--sunglow);
  border: 1px solid var(--sunglow);
}

button:hover,
input[type='button']:hover,
input[type='submit']:hover {
  background-color: var(--poppy);
  color: var(--jet);
}
